//Colors
$background-color: #FAFAFA;
$title-color:#000000;
$grey-color: #8B8B8B;
$blue-color: #407BFF;
$shadow-color:#407BFF1F;
$white-color: #FFFFFF;

//viewport
$desktop: 1100px; 
$tablet: 640px;


//Font
$primary-font: 'Montserrat', sans-serif;
$title-weight: 500;
$text-weight: 300;
$button-weight: 400;
$title-text: 28px;
$primary-text: 16px;
$button-text: 14px;
$service-text: 13px;



